<div class="container-fluid">
    <div *ngFor="let publicacion of publicaciones" class="row" id="publicacionPerro">
        <div class="col-md-2 containerImagen">
            <img src="{{ publicacion.fotoPerro }}" id="imagenPerro" alt="" srcset="">
        </div>
        <div class="col-md-2" id="dataPerro">
            <div id="nombrePerro"> {{ publicacion.nombrePerro }}</div>
            <div id="edadPerro"> Edad: {{ publicacion.edadPerro }}</div>
            <div id="sexoPerro"> Sexo: {{ publicacion.sexoPerro }}</div>
            <div id="tamañoPerro"> Tamaño: {{ publicacion.tamanioPerro}} </div> 
            <button class="btn btn-primary" id="btnHeart"><fa-icon [icon]="faHeart" id="iconHeart"></fa-icon></button>
            <button class="btn btn-primary" id="btnInteresa">Me interesa</button>
        </div>
        <hr>
    </div>
</div>