.container-fluid {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#iconHeart {
    color: white;
    font-size: 15px;
}

#btnHeart {
    background-color: rgb(252, 92, 140);
    border: none;
    margin-right: 10px;
    margin-top: 10px;
}

#btnInteresa {
    background-color: rgb(12, 2, 53);
    border: none;
    margin-top: 10px;
}

#nombrePerro {
    font-weight: 800;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#edadPerro, #sexoPerro, #tamañoPerro {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}


#imagenPerro {
    margin: 20px 0px 20px;
    width: 100%;
}

#dataPerro {
    margin: 20px 10px 20px;
}

hr {
    margin-left: 100px !important;
    margin-right: 40px !important;
}
