<div class="container-fluid">
    <div class="row" id="publicacionPerro">
        <div class="col-md-2 containerImagen">
            <img src="assets/img/perro.jpg" alt="" id="imagenPerro">
        </div>
        <div class="col-md-2" id="dataPerro">
            <div id="nombrePerro">Luna</div>
            <div id="edadPerro">2 años</div>
            <div id="sexoPerro">Hembra</div>
            <div id="tamañoPerro">Tamaño </div> 
            <button class="btn btn-primary" id="btnHeart"><fa-icon [icon]="faHeart" id="iconHeart"></fa-icon></button>
            <button class="btn btn-primary" id="btnInteresa">Me interesa</button>
        </div>
    </div>
</div>



