<div>
  <button class="btn btn-primary verPublicaciones" (click)="verPublicaciones()" *ngIf="!homeService.getMostrarPublicacion() && !homeService.getMostrarContenido()">
    Ver publicaciones
  </button>
  <br>
  <button class="btn btn-primary crearPublicacion" (click)="crearPublicacion()" *ngIf="!homeService.getMostrarPublicacion() && !homeService.getMostrarContenido()">
    Crear publicación
  </button>
  <button class="btn btn-primary verApp" (click)="verApp()" *ngIf="homeService.getMostrarInicio()">
    Volver a inicio
  </button>
</div>

<div class="container" *ngIf="homeService.getMostrarContenido()">
  <div class="col">
  </div>
  <hr />
  <app-perros></app-perros>
  <hr />
</div>

<div *ngIf="homeService.getMostrarPublicacion() && !homeService.getMostrarContenido()">
    <router-outlet></router-outlet>
</div>
