<!DOCTYPE html>
<html lang="es">
<h3>Datos del Perro 🐕</h3>
<p>Completa a continuación los datos de tu perro.</p>
<hr>
<form>
  <div class="row">
    <div class="form-group col-md-5">
      
      <label for="imagen">Imagen:</label>
      <br>
      <img id="imgSalida" width="250" height="250" />
      <br><br>
      <input type="file" id="imagen" name="imagen" accept="image/*" #imagenInput>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Inserte un nombre"
          class="form-control"
          #nombreInput
        />
    </div>

    <div class="form-group col-md-2">
        <label for="edad">Edad:</label>
        <input
          type="number"
          name="edad"
          id="edad"
          placeholder="Inserte una edad"
          class="form-control"
          #edadInput
        />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <label for="sexo">Sexo:</label>
      <select name="sexo" id="sexo" class="form-control" #sexoSelect>
        <option value="">Seleccione un sexo</option>
        <option value="macho">Macho</option>
        <option value="hembra">Hembra</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="tamanio">Tamaño:</label>
      <select name="tamanio" id="tamanio" class="form-control" #tamanioSelect>
        <option value="">Seleccione un tamaño</option>
        <option value="chico">Chico</option>
        <option value="mediano">Mediano</option>
        <option value="grande">Grande</option>
      </select>
    </div>
  </div>
  <div class="row">
    <!--Select radio para ver si tiene libreta sanitaria-->
    <div class="form-group col-md-2">
      <label for="libreta">¿Tiene libreta sanitaria?</label>
      <br>
        <input type="radio" name="libreta" value="si"> Si<br>
        <input type="radio" name="libreta" value="no"> No<br>
    </div>
    <div class="form-group col-md-2">
      <label for="desparasitado">¿Está desparasitado?</label>
      <br>
        <input type="radio" name="desparasitado" value="si"> Si<br>
        <input type="radio" name="desparasitado" value="no"> No<br>
    </div>
  </div>
    <br>
    <div class="col">
        <button type="submit" class="btn btn-primary" 
        (click)="onAgregarPerro(nombreInput,edadInput,sexoSelect,tamanioSelect,imagenInput)">
          Agregar 🐶
        </button>
      </div>
</form>