<!DOCTYPE html>
<html lang="es">
<h3>Datos del Perro</h3>
<p>Completa a continuación los datos de tu perro.</p>
<hr>
<form>
  <div class="row">
    <div class="form-group col-md-2">
      
      <label for="imagen">Imagen:</label>
      <img id="imgSalida" width="100" height="100" />
      <input type="file" id="fotoPerro" name="imagen" accept="image/*" required >
      <!--Hacer tambien un espacio para ver la vista previa de la imagen subida-->
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          name="nombre"
          id="nombrePerro"
          placeholder="Inserte un nombre"
          class="form-control"
        />
    </div>

    <div class="form-group col-md-2">
        <label for="edad">Edad:</label>
        <input
          type="text"
          name="edad"
          id="edadPerro"
          placeholder="Inserte una edad"
          class="form-control"
          
        />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <label for="sexo">Sexo:</label>
      <select name="sexo" id="sexoPerro" class="form-control" >
        <option value="">Seleccione un sexo</option>
        <option value="M">Macho</option>
        <option value="H">Hembra</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="tamanio">Tamaño:</label>
      <select name="tamanio" id="tamanioPerro" class="form-control" >
        <option value="">Seleccione un tamaño</option>
        <option value="Chico">Chico</option>
        <option value="Mediano">Mediano</option>
        <option value="Grande">Grande</option>
      </select>
    </div>
  </div>
  <div class="row">
    <!--Select radio para ver si tiene libreta sanitaria-->
    <div class="form-group col-md-2">
      <label for="libreta">¿Tiene libreta sanitaria?</label>
      <br>
        <input type="radio" name="libreta" value="si"> Si<br>
        <input type="radio" name="libreta" value="no"> No<br>
    </div>
    <div class="form-group col-md-2">
      <label for="desparasitado">¿Está desparasitado?</label>
      <br>
        <input type="radio" name="desparasitado" value="si"> Si<br>
        <input type="radio" name="desparasitado" value="no"> No<br>
    </div>
  </div>
    <br>
    <div class="col">
        <button type="submit" class="btn btn-primary" 
        (click)="onAgregarPerro()">
          Agregar
        </button>
      </div>
</form>