<!DOCTYPE html>
<html lang="es">
<h3>Datos del perro</h3>
<p>Completá a continuación los datos de tu perro.</p>
<hr>
<form class="wrapper">
  <div class="row">
    <div class="form-group col-md-5">
      <input type="file" id="fotoPerro" name="imagen" accept="image/*" required>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
        <input
          type="text"
          name="nombre"
          id="nombrePerro"
          placeholder="Nombre"
          class="form-control"
        />
    </div>

    <div class="form-group col-md-2">
        <input
          type="text"
          name="edad"
          id="edadPerro"
          placeholder="Edad"
          class="form-control"
        />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <select name="sexo" id="sexoPerro" class="form-control" >
        <option value="">Sexo</option>
        <option value="Macho">Macho</option>
        <option value="Hembra">Hembra</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <select name="tamanio" id="tamanioPerro" class="form-control" >
        <option value="">Tamaño</option>
        <option value="Pequeño">Pequeño</option>
        <option value="Mediano">Mediano</option>
        <option value="Grande">Grande</option>
      </select>
    </div>
  </div>
  <div class="row">
    <!--Select radio para ver si tiene libreta sanitaria-->
    <div class="form-group col-md-2">
      <label for="libreta">¿Tiene libreta sanitaria?</label>
      <br>
        <input type="radio" name="libreta" value="si"> Si<br>
        <input type="radio" name="libreta" value="no"> No<br>
    </div>
    <div class="form-group col-md-2">
      <label for="desparasitado">¿Está desparasitado?</label>
      <br>
        <input type="radio" name="desparasitado" value="si"> Si<br>
        <input type="radio" name="desparasitado" value="no"> No<br>
    </div>
  </div>
    <br>
    <div class="col">
        <button type="submit" class="btn btn-primary btn-agregar" 
        (click)="onAgregarPerro()">
          Publicar perro
        </button>
      </div>
</form>