<form class="row-cols-2">
    <div class="form-group col-md-2">
        <label for="nombre" class="sr-only">Nombre:</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Inserte un nombre"
          class="form-control"
          #nombreInput
        />
    </div>

    <div class="form-group col-md-1">
        <label for="edad" class="sr-only">Edad:</label>
        <input
          type="number"
          name="edad"
          id="edad"
          placeholder="Inserte una edad"
          class="form-control"
          #edadInput
        />
    </div>
    <br>
    <div class="col">
        <button type="submit" class="btn btn-primary" 
        (click)="agregarPerro(nombreInput,edadInput)">
          Agregar
        </button>
      </div>
</form>