<!DOCTYPE html>
<html lang="es">
  <head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Agrega los siguientes enlaces de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="wrapper">
<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <h1>Creá tu cuenta</h1>
  <div class="row">
    <div class="col mb-3">
      <div class="input-box">
      <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Nombre">
      <div class="form-text text-danger" *ngIf="nombre.errors?.['required'] && (nombre.dirty || nombre.touched)">
        Introduzca su nombre.
      </div>
      <div class="form-text text-danger" *ngIf="nombre.errors?.['minlength'] && (nombre.dirty || nombre.touched)">
        El nombre debe tener al menos 3 caracteres.
      </div>
      <div class="form-text text-danger" *ngIf="nombre.errors?.['maxlength'] && (nombre.dirty || nombre.touched)">
        El nombre no puede tener más de 30 caracteres.
      </div>
      <div class="form-text text-danger" *ngIf="nombre.errors?.['pattern'] && (nombre.dirty || nombre.touched)">
        El nombre solo puede contener letras.
      </div>
    </div>
    </div>
    <div class="col mb-3">
      <div class="input-box">
      <input type="text" class="form-control" formControlName="apellido" id="apellido" placeholder="Apellido">
      <div class="form-text text-danger" *ngIf="apellido.errors?.['required'] && (apellido.dirty || apellido.touched)">
        Introduzca su apellido.
      </div>
      <div class="form-text text-danger" *ngIf="apellido.errors?.['minlength'] && (apellido.dirty || apellido.touched)">
        El apellido debe tener al menos 3 caracteres.
      </div>
      <div class="form-text text-danger" *ngIf="apellido.errors?.['maxlength'] && (apellido.dirty || apellido.touched)">
        El apellido no puede tener más de 30 caracteres.
      </div>
      <div class="form-text text-danger" *ngIf="apellido.errors?.['pattern'] && (apellido.dirty || apellido.touched)">
        El apellido solo puede contener letras.
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <div class="input-box">
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
      <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">
        Introduzca su email.
      </div>
      <div class="form-text text-danger" *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
        El email no es válido.
      </div>
    </div>
    </div>
    <div class="col mb-3">
      <div class="input-box">
      <input type="number" class="form-control" formControlName="telefono" id="telefono" placeholder="Teléfono">
      <div class="form-text text-danger" *ngIf="telefono.errors?.['required'] && (telefono.dirty || telefono.touched)">
        Introduzca su teléfono.
      </div>
      <div class="form-text text-danger" *ngIf="telefono.errors?.['minlength'] && (telefono.dirty || telefono.touched)">
        El teléfono debe tener al menos 10 caracteres.
      </div>
      <div class="form-text text-danger" *ngIf="telefono.errors?.['maxlength'] && (telefono.dirty || telefono.touched)">
        El teléfono no puede tener más de 10 caracteres.
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <div class="input-box">
      <input type="text" class="form-control" formControlName="provincia" id="provincia" placeholder="Provincia">
      <div class="form-text text-danger" *ngIf="provincia.errors?.['required'] && (provincia.dirty || provincia.touched)">
        Introduzca su provincia.
      </div>
      </div>
    </div>
      <div class="col mb-3">
        <div class="input-box">
        <input type="text" class="form-control" formControlName="localidad" id="localidad" placeholder="Localidad">
        <div class="form-text text-danger" *ngIf="localidad.errors?.['required'] && (localidad.dirty || localidad.touched)">
          Introduzca su localidad.
        </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col mb-3">
    <div class="input-box">
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="Contraseña">
      <div class="form-text text-danger" *ngIf="password.errors?.['required'] && (password.dirty || password.touched)">
        Introduzca su password.
      </div>
    </div>
    </div>
    <div class="col mb-3">
    <div class="input-box">
      <input type="password" class="form-control" formControlName="confPassword" id="password2" placeholder="Repetir contraseña">
      <div class="form-text text-danger" [ngStyle]="{'display': repeatPass}">
        Las contraseñas no coinciden.
      </div>
    </div>
    </div>
  </div>
  <br>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" formControlName="terminos" id="terminos">
    <label class="form-check-label" for="terminos"><p>Juro que la información proporcionada arriba es verídica</p></label>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="d-grid">
        <button type="submit" [disabled]="registerForm.invalid" class="boton">Registrarse</button>
      </div>
    </div>
  </div>
</form>
<div class="register-link">
  <p>¿Ya tenés una cuenta? <a href="/registro">Iniciá sesión.</a></p>
</div>
</div>
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="onCloseHandled()"></button>
      </div>
      <div class="modal-body">
        ¡El usuario fue creado exitosamente!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btnInicio" (click)="onCloseHandledInicio()" >Volver al Inicio</button>
        <button type="button" class="btn btn-primary btnModal" (click)="onCloseHandled()" >Iniciar Sesión</button>
      </div>
    </div>
  </div>
</div>