<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="wrapper">
    <form action="">
        <h1>Creá tu cuenta</h1>
        <div class="input-box">
            <div class="input-field">
                <input type="text" placeholder="Nombre" id="nombreUsuario" required>
                <i class='bx bxs-user' ></i>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Apellido" id="apellidoUsuario" required>
                <i class='bx bxs-user' ></i>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Correo electrónico" id="email" required>
                <i class='bx bxs-envelope' ></i>
            </div>
            <div class="input-field">
                <input type="number" placeholder="Teléfono" id="telefono" required>
                <i class='bx bxs-phone'></i>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Provincia" id="provincia" required>
                <i class='bx bxs-landscape'></i>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Localidad" id="localidad" required>
                <i class='bx bxs-buildings'></i>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Contraseña" id="password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Confirmar contraseña" id="confirmarPassword" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <div id="mensajeError" style="color: red;">{{ mensajeError }}</div>
        </div>
        <label>
            <input type="checkbox" class="dec" id="checkboxAceptado">
            Declaro que la información ingresada arriba es legítima y correcta.
          </label>
          <button type="submit" class="boton" (click)="onAgregarUsuario()">Registrarme</button>
          
    </form>
</div>
</body>