<footer>
    <div class="row">
        <div class="col">
            <p>🐾 2023 - Cángaro, Dominguez, Kral, Líbano 🐾</p>
        </div>
        <div class="col">
            <h3>Oficina <div class="underline"><span></span></div></h3>
            <p>La Plata, Buenos Aires, Argentina</p>
            <p>UTN-FRLP</p>
            <p class="email-id">adoptr@gmail.com</p>
            <p>+54 9 2214382853</p>
        </div>
        <div class="col">
            <h3>Links<div class="underline"><span></span></div></h3>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href=""></a>Acerca de nosotros</li>
                <li><a href=""></a>Features</li>
                <li><a href=""></a>Contactos</li>
            </ul>
        </div>
        <div class="col">
            <h3>Newsletter<div class="underline"><span></span></div></h3>
            <form>
                <i class="fa-regular fa-envelope"></i>
                <input type="email" placeholder="Ingresa tu email" required>
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright">Adoptr © 2023 - Todos los derechos reservados</p>
</footer>

