<footer>
    <div class="row">
        <div class="col">
            <p>🐾 2022 - Cángaro, Dominguez, Kral, Líbano 🐾</p>
        </div>
        <div class="col">
            <h3>Oficina</h3>
            <p>La plata, Buenos Aires, Argentina</p>
            <p>UTN-FRLP</p>
            <p class="email-id">adoptr@gmail.com</p>
            <p>+54 9 2214382853</p>
        </div>
        <div class="col">
            <h3>Links</h3>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href=""></a>Acerca de nosotros</li>
                <li><a href=""></a>Features</li>
                <li><a href=""></a>Contactos</li>
            </ul>
        </div>
        <div class="col">
            <h3>Newsletter</h3>
            <form>
                
                <input type="email" placeholder="Ingresa tu email" required>
                <button type="submit"></button>
            </form>
        </div>
    </div>
</footer>

