@import '~font-awesome/css/font-awesome.min.css';

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1, .btn2 {
    margin-bottom: 100px !important;
}

.btn3 {
    margin-top: 40px;
}

.btn{
    background-color: #20264D;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn1:hover, .btn2:hover {
    background-color: #FF5D31;
    color: #20264D;
}

.contenedor1 {
    margin-top: 15px;
}