<div class="contenedor" id="contenidoPrincipal">
  <div class="container-fluid">
    <p id="filterBy">FILTRAR POR</p>
    <button class="btn btn-primary btnFitro" style="background-color: transparent; border: none;" (click)="abrirFiltros()"><i class="fa-solid fa-sliders fa-rotate-90"></i></button>
  </div>
  <hr id="subrayado">
  <div *ngIf="publicaciones && publicaciones.length === 0" class="no-publicaciones">
    <p>No hay publicaciones disponibles.</p>
  </div>
  <div *ngFor="let publicacion of publicaciones" class="row" id="publicacionPerro">
    <div class="col-md-3 containerImagen">
      <img src="{{ publicacion.fotoPerro }}" id="imagenPerro" alt="" srcset="">
    </div>
    <div class="col-md-3" id="dataPerro">
      <div id="nombrePerro"> {{ publicacion.nombrePerro }}</div>
      <br>
      <div id="edadPerro"> Edad: {{ publicacion.edadPerro }}</div>
      <div id="sexoPerro"> Sexo: {{ publicacion.sexoPerro }}</div>
      <div id="tamañoPerro"> Tamaño: {{ publicacion.tamanioPerro}} </div> 
      <div class="icon-container">
        <div class="icons-row">
          <div id="vacunadoPerro" class="icon-container">
            <i class="fa-solid fa-syringe" *ngIf="publicacion.vacunadoPerro === 'Si'" title="Vacunado"></i>
            <i class="fa-solid fa-syringe" id="noVacunado" *ngIf="publicacion.vacunadoPerro === 'No'" title=" No vacunado"></i>
          </div>
          <div id="libretaPerro" class="icon-container">
            <i class="fa-solid fa-book-open" *ngIf="publicacion.libretaPerro === 'Si'" title="Tiene libreta"></i>
            <i class="fa-solid fa-book-open" id="noLibreta" *ngIf="publicacion.libretaPerro === 'No'" title="No tiene libreta"></i>
          </div>
          <div id="desparasitadoPerro" class="icon-container">
            <i class="fa-solid fa-virus-slash" *ngIf="publicacion.desparasitadoPerro === 'Si'" title="Desparasitado"></i>              <i class="fa-solid fa-virus-slash" id="noDesparasitado" *ngIf="publicacion.desparasitadoPerro === 'No'" title="No desparasitado"></i>
          </div>
          <div id="castradoPerro" class="icon-container">
            <i class="fa-solid fa-heart-circle-xmark" *ngIf="publicacion.castradoPerro === 'Si'" title="Castrado"></i>
            <i class="fa-solid fa-heart-circle-xmark" id="noCastrado" *ngIf="publicacion.castradoPerro === 'No'" title="No castrado"></i>
          </div>
        </div>
      </div>
    </div> 
    <div class="btn-container">
      <button class="edit-button btn-primary" id="btnEdit" (click)="editarPubli(publicacion)">
        <svg class="edit-svgIcon" viewBox="0 0 512 512">
                          <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                        </svg>
      </button>
      <hr id="buttonHr">
      <button class="button btn-primary" id="btnDelete" (click)="eliminarPublicacion(publicacion)">
        <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
      </button>
    </div>
    <hr class="separador">
  </div>
</div>
<div class="text-center">
  <button class="btn btn-primary btnInicio" [routerLink]="['/menu-principal']">Volver a inicio</button>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modalFiltros" [ngStyle]="{'display':displayFiltros}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body opciones">
          <p>Filtrar por sexo</p>
          <mat-chip-listbox selectable multiple aria-label="Sexo selection">
              <mat-chip-option (click)="toggleFiltroSexo('Macho')">Macho</mat-chip-option>
              <mat-chip-option (click)="toggleFiltroSexo('Hembra')">Hembra</mat-chip-option>
          </mat-chip-listbox>
          <p id="sexFilter">Filtrar por tamaño</p>
          <mat-chip-listbox selectable multiple aria-label="Tamaño selection">
              <mat-chip-option (click)="toggleFiltroTamanio('Pequeño')">Pequeño</mat-chip-option>
              <mat-chip-option (click)="toggleFiltroTamanio('Mediano')">Mediano</mat-chip-option>
              <mat-chip-option (click)="toggleFiltroTamanio('Grande')">Grande</mat-chip-option>
          </mat-chip-listbox>
          <p id="sexFilter">Otros filtros</p>
          <mat-chip-listbox selectable multiple aria-label="Desparasitado selection">
            <mat-chip-option (click)="toggleFiltroDes('Si')">Desparasitado</mat-chip-option>
            <mat-chip-option (click)="toggleFiltroDes('No')">No desparasitado</mat-chip-option>
          </mat-chip-listbox>
          <mat-chip-listbox selectable multiple aria-label="Vacunado selection">
            <mat-chip-option (click)="toggleFiltroVac('Si')">Vacunado</mat-chip-option>
            <mat-chip-option (click)="toggleFiltroVac('No')">No vacunado</mat-chip-option>
          </mat-chip-listbox>
          <mat-chip-listbox selectable multiple aria-label="Castrado selection">
            <mat-chip-option (click)="toggleFiltroCas('Si')">Castrado</mat-chip-option>
            <mat-chip-option (click)="toggleFiltroCas('No')">No castrado</mat-chip-option>
          </mat-chip-listbox>
          <mat-chip-listbox selectable multiple aria-label="Libreta selection">
            <mat-chip-option (click)="toggleFiltroLib('Si')">Con libreta sanitaria</mat-chip-option>
            <mat-chip-option (click)="toggleFiltroLib('No')">Sin libreta sanitaria</mat-chip-option>
          </mat-chip-listbox>
      </div>
      <div class="text-center">
          <button type="button" class="btn btn-primary btnAceptar" (click)="onCloseHandled()">Aplicar</button>
          <button type="button" class="btn btn-primary btnCancelar" (click)="cancelarFiltros()">Limpiar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalEdit" [ngStyle]="{'display':displayEditar}" *ngIf="publicacionSeleccionada">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerEditar">
        <h2 class="modal-title titleEditar">Editar publicación</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="onCloseHandledEditar()"></button>
      </div>
    <div class="modal-body row" id="publicacionPerroModal">
      <form>
        <div class="row">
          <div class="form-group col-md-5">
            <div id="imgPreview"><img src="{{ publicacionSeleccionada.fotoPerro }}" id="imagenPerro" class="imgModal" alt="" srcset=""></div>
              <input type="file" id="fotoPerroModal" name="fotoPerroModal" accept="image/*" (change)="mostrarImagen()"/>
            </div>
        </div>             
        <div class="form-group">
            <label for="nombrePerroModal">Nombre</label>
            <input type="nombre" name="nombrePerro" class="form-control" id="input-nombre" aria-describedby="nombre" placeholder="{{ publicacionSeleccionada.nombrePerro }}" [(ngModel)]="publicacionSeleccionada.nombrePerro"> 
        </div>
        <div class="form-group">
            <label for="edadPerroModal">Edad</label>
            <input type="edad" name="edadPerro" class="form-control" id="input-edad" placeholder="{{ publicacionSeleccionada.edadPerro }}" [(ngModel)]="publicacionSeleccionada.edadPerro">
        </div>
        <div class="form-group">
            <label for="sexoPerroModal">Sexo</label>
            <select class="form-control form-control-sm" name="sexoPerro" id="sexoPerroModal" [(ngModel)]="publicacionSeleccionada.sexoPerro">  
              <option value=""></option>
              <option value="Macho">Macho</option>
              <option value="Hembra">Hembra</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tamanioPerroModal">Tamaño</label>
            <select class="form-control form-control-sm" name="tamanioPerro" id="tamanioPerroModal" [(ngModel)]="publicacionSeleccionada.tamanioPerro">  
              <option value=""></option>
              <option value="Pequeño">Pequeño</option>
              <option value="Mediano">Mediano</option>
              <option value="Grande">Grande</option>
            </select>
        </div>
        <div class="row">
            <!--Select radio para ver si tiene libreta sanitaria-->
          <div class="form-group col-md-6">
            <label for="libretaPerro">¿Tiene libreta sanitaria?</label>
            <br>
            <input type="radio" id="libretaSi" name="libretaPerro" value="Si" [(ngModel)]="publicacionSeleccionada.libretaPerro"> Si
            <input type="radio" id="libretaNo" name="libretaPerro" value="No" [(ngModel)]="publicacionSeleccionada.libretaPerro"> No
          </div>
          <div class="form-group col-md-6">
            <label for="desparasitadoPerro">¿Está desparasitado?</label>
            <br>
            <input type="radio" id="desparasitadoSi" name="desparasitadoPerro" value="Si" [(ngModel)]="publicacionSeleccionada.desparasitadoPerro"> Si
            <input type="radio" id="desparasitadoNo" name="desparasitadoPerro" value="No" [(ngModel)]="publicacionSeleccionada.desparasitadoPerro"> No
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="castradoPerro">¿Está castrado?</label>
            <br>
            <input type="radio" id="castradoSi" name="castradoPerro" value="Si" [(ngModel)]="publicacionSeleccionada.castradoPerro"> Si
            <input type="radio" id="castradoNo" name="castradoPerro" value="No" [(ngModel)]="publicacionSeleccionada.castradoPerro"> No
          </div>
          <div class="form-group col-md-6">
            <label for="vacunadoPerro">¿Está vacunado?</label>
            <br>
            <input type="radio" id="vacunadoSi" name="vacunadoPerro" value="Si" [(ngModel)]="publicacionSeleccionada.vacunadoPerro"> Si
            <input type="radio" id="vacunadoNo" name="vacunadoPerro" value="No" [(ngModel)]="publicacionSeleccionada.vacunadoPerro"> No
          </div>
        </div>
      </form>
      <div class="footer">
        <button type="button" class="btn btn-primary btnEditModal" data-dismiss="modal" (click)="onAceptarEdicion()">Aceptar</button>
        <button type="button" class="btn btn-secondary btnEditModalCancel" data-dismiss="modal" (click)="onCloseHandledEditar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
</div>

  <!-- Modal de Confirmación de Eliminación -->
<div class="modal" tabindex="-1" role="dialog" id="modalEliminar" [ngStyle]="{'display':displayConfirmacion}" *ngIf="publicacionParaEliminar">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Eliminación</h5>
        <button type="button" class="close" aria-label="Close" (click)="onCloseConfirmacion()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar esta publicación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseConfirmacion()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="eliminarPublicacionConfirmada()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
