<!DOCTYPE html>
<html lang="es">
  <head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Agrega los siguientes enlaces de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <section class="main-content">
        <div class="container">
            <h1>Perfil</h1>

            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4">

                    <!--Card para Perfil-->
                    <div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center">
                        <div class="banner"></div>
                        <img src="https://fotos.perfil.com/2020/07/02/trim/900/900/vida-de-carlos-menem-980001.jpg" alt="" class="img-circle mx-auto mb-3">
                        <h3 class="mb-4">Carlos Saul Menem</h3>
                        <div class="text-left mb-4">
                                <p class="mb-2"><i class="fa fa-envelope mr-2"></i> carlosmenem@gmail.com</p>
                                <p class="mb-2"><i class="fa fa-phone mr-2"></i> 11-1234-5678</p>
                                <p class="mb-2"><i class="fa fa-map-marker mr-2"></i>La Rioja</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-4">
                    <div class="ancho">
                    
                        <div class="card">
                        <div class="card-header">
                          Sobre Mi
                        </div>
                        <div class="card-body">
                          <p class="card-text">Carlos Saúl Menem fue un abogado y político argentino, presidente de la Nación Argentina entre 1989 y 1999 y gobernador de la provincia de La Rioja en los períodos 1973-1976 y 1983-1989. Desde 2005 hasta su muerte en 2021 fue senador nacional, en representación de la provincia de La Rioja.</p>
                        </div>
                      </div>
                      <br>
                      <div class="card" style="width: 18rem;">
                        <div class="card-header">
                          Intereses
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                          <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>