<header class="header">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <span id="brand-part1">Adop</span><span id="brand-part2">tr</span>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item last">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <button mat-button [matMenuTriggerFor]="menu" class=" no-hover">
                        <i class="fa fa-user-circle" aria-hidden="true"></i><i class="fa-solid fa-caret-down"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item class="mat-item" [routerLink]="'/perfil'">Mi perfil</button>
                        <button mat-menu-item class="mat-item" [routerLink]="'/mis-publicaciones'">Mis publicaciones</button>
                        <button mat-menu-item class="mat-item" [routerLink]="'/mis-favoritos'">Mis favoritos</button>
                        <button mat-menu-item class="mat-item" (click)="openDialog()">Cerrar sesión</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </nav>
</header>